/* CSS for new page */
body {
    font-family: Arial, sans-serif;
    background-color: #42a5f5; /* Blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#writeup-section {
    text-align: center;
    color: #fff; /* White text color */
    margin-bottom: 20px;
}

audio {
    display: none; /* Hide the audio player */
}